.title {
  display: flex;
  justify-content: center;
}

.advantages {
  padding: 7px 18px;
}

.advantages_list {
  display: flex;
  z-index: 9;
  width: 100%;
  overflow-x: auto;
  border-radius: 16px;
  gap: 10px;
  cursor: pointer;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  h5 {
    width: max-content;
  }
}