.scrollContainer {
  overflow-x: auto;
  width: 100%;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

.cards {
  display: flex;
  gap: 10px;
  min-width: max-content;
  padding: 10px 0;
}

.avatar {
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  border-radius: 100%;
  overflow: hidden;

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}
