.Compony {
  overflow: hidden;
  z-index: -2;


  .background {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    z-index: -1;
  }

  .ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 578px;
    }
  }

  .logo {
    min-width: 130px;
  }
}