.Banner {
  margin-top: 20px;
  position: relative;

  .buttons {
    display: flex;
    margin-top: 20px;

    @media (max-width: 360px) {
      flex-direction: column;
    }
  }

  .icon {
    position: absolute;
    right: 110px;
    bottom: 60px;

    @media (max-width: 1100px) {
      right: 20px;
      bottom: 20px;
    }

    @media (max-width: 900px) {
      top: 52px;
      width: 83px;
      height: 96px;
    }
    @media (max-width: 360px) {
      display: none;
    }
  }
}

